.image {
  display: block;
  object-fit: contain;
  cursor: zoom-in;
  user-select: none;
  position: absolute;
  left: 0;
  height: 300px;
}

@media (max-width: 600px) {
  .image {
    height: 50vw !important;
  }
}

.image:active {
  cursor: grabbing;
}

.fullscreenImages:active {
  cursor: grabbing !important;
}

.imgMargin:active {
  cursor: grabbing !important;
}